* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; }

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; }

.small {
  max-width: 70px; }

a {
  text-decoration: none;
  /* no underline */ }

.note {
  font-size: .75em;
  display: inline; }

.fa-headphones {
  color: #5bc0de; }

.topper {
  margin-top: 30px;
  margin-bottom: 10px; }

.card-title, .card-text, .clickThis {
  margin-top: 10px; }

.bottomMarg {
  margin-bottom: 5px; }

.cardPhoto {
  width: 100%;
  height: auto; }

.none {
  text-decoration: none;
  /* no underline */
  color: #5bc0de;
  font-size: 1.25em; }

.fa-music {
  color: #5bc0de; }

.detail {
  font-size: .75em; }

.cardJob {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; }
